<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

@{
    ViewData["Title"] = "Detalle mesas";
}

<div>
    <div class="d-flex justify-content-between align-items-center">
        <section class="mb-5">
            <button class="btn btn-secondary">MOSTRAR</button>
        </section>
        <section>
            <button class="bg-light btn btn-secondary text-black">SOLICITADO</button>
            <div class="bg-light rounded-circle mt-3 mx-auto" style="width: 30px; height: 30px;"></div>
        </section>
        <section>
            <button class="bg-light btn btn-secondary text-black">EN PROCESO</button>
            <div class="bg-light rounded-circle mt-3 mx-auto" style="width: 30px; height: 30px;"></div>
        </section>
        <section>
            <button class="bg-light btn btn-secondary text-black">ENTREGADO</button>
            <div class="bg-light rounded-circle mt-3 mx-auto" style="width: 30px; height: 30px;"></div>
        </section>
        <section>
            <button class="bg-light btn btn-secondary text-black">TODOS</button>
            <div class="bg-light rounded-circle mt-3 mx-auto" style="width: 30px; height: 30px;"></div>
        </section>
        <section>
            <button class="bg-light btn btn-secondary text-black">MESAS DISPONIBLES</button>
            <div class="bg-dark rounded-circle mt-3 mx-auto" style="width: 30px; height: 30px;"></div>
        </section>
    </div>
    <div class="mt-5">
        <div class="d-flex justify-content-between align-items-center">
            <section class="text-center border border-1 p-2">
                <p><i class="bi bi-clock fs-3 fw-bold"></i></p>
                <p class="fw-bold">MESA 1</p>
                <p>PEDIDO SOLICITADO</p>
            </section>
            <section class="text-center border border-1 p-2">
                <p><i class="bi bi-clock fs-3 fw-bold"></i></p>
                <p class="fw-bold">MESA 2</p>
                <p>PEDIDO SOLICITADO</p>
            </section>
            <section class="text-center border border-1 p-2">
                <p><i class="bi bi-clock fs-3 fw-bold"></i></p>
                <p class="fw-bold">MESA 3</p>
                <p>PEDIDO SOLICITADO</p>
            </section>
            <section class="text-center border border-1 p-2">
                <p><i class="bi bi-clock fs-3 fw-bold"></i></p>
                <p class="fw-bold">MESA 4</p>
                <p>PEDIDO SOLICITADO</p>
            </section>
            <section class="text-center border border-1 p-2">
                <p><i class="bi bi-clock fs-3 fw-bold"></i></p>
                <p class="fw-bold">MESA 5</p>
                <p>PEDIDO SOLICITADO</p>
            </section>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-5">
            <section class="text-center border border-1 p-2">
                <p><i class="bi bi-clock fs-3 fw-bold"></i></p>
                <p class="fw-bold">MESA 6</p>
                <p>PEDIDO SOLICITADO</p>
            </section>
            <section class="text-center border border-1 p-2">
                <p><i class="bi bi-clock fs-3 fw-bold"></i></p>
                <p class="fw-bold">MESA 7</p>
                <p>PEDIDO SOLICITADO</p>
            </section>
            <section class="text-center border border-1 p-2">
                <p><i class="bi bi-clock fs-3 fw-bold"></i></p>
                <p class="fw-bold">MESA 8</p>
                <p>PEDIDO SOLICITADO</p>
            </section>
            <section class="text-center border border-1 p-2">
                <p><i class="bi bi-clock fs-3 fw-bold"></i></p>
                <p class="fw-bold">MESA 9</p>
                <p>PEDIDO SOLICITADO</p>
            </section>
            <section class="text-center border border-1 p-2">
                <p><i class="bi bi-clock fs-3 fw-bold"></i></p>
                <p class="fw-bold">MESA 10</p>
                <p>PEDIDO SOLICITADO</p>
            </section>
        </div>
    </div>
</div>