<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

@{
    ViewData["Title"] = "Detalle mesas";
    int contador = 0;
}

<div>
    <div class="d-flex justify-content-between align-items-center">
        <section>
            <button id="1" value="Pendiente" class="btn-filtro bg-light btn btn-secondary text-black">PENDIENTE</button>
            <div id="circulo-1" class="estado-circulo bg-dark rounded-circle mt-3 mx-auto" style="width: 30px; height: 30px;"></div>
        </section>
        <section>
            <button id="2" value="En Proceso" class="btn-filtro bg-light btn btn-secondary text-black">EN PROCESO</button>
            <div id="circulo-2" class="estado-circulo bg-light rounded-circle mt-3 mx-auto" style="width: 30px; height: 30px;"></div>
        </section>
        <section>
            <button id="3" value="Finalizado" class="btn-filtro bg-light btn btn-secondary text-black">ENTREGADO</button>
            <div id="circulo-3" class="estado-circulo bg-light rounded-circle mt-3 mx-auto" style="width: 30px; height: 30px;"></div>
        </section>
        <section>
            <button id="4" value="Cancelado" class="btn-filtro bg-light btn btn-secondary text-black">CANCELADO</button>
            <div id="circulo-4" class="estado-circulo bg-light rounded-circle mt-3 mx-auto" style="width: 30px; height: 30px;"></div>
        </section>
        <section>
            <button id="5" value="Todos" class="btn-filtro bg-light btn btn-secondary text-black">TODOS</button>
            <div id="circulo-5" class="estado-circulo bg-light rounded-circle mt-3 mx-auto" style="width: 30px; height: 30px;"></div>
        </section>
        <section>
            <button id="6" value="MesasDisp" class="btn-filtro bg-light btn btn-secondary text-black">MESAS DISPONIBLES</button>
            <div id="circulo-6" class="estado-circulo bg-light rounded-circle mt-3 mx-auto" style="width: 30px; height: 30px;"></div>
        </section>
    </div>
    <div class="mt-5" style="max-height: 400px; overflow-y: auto;">
        <div class="row">
            @foreach (var item in (IEnumerable<dynamic>)ViewBag.Pedido)
            {
                <div class="col-2 col-md-2 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">@item.Mesa</h5>
                            <p class="card-text text-center">@item.Estado</p>
                        </div>
                    </div>
                </div>

                contador++;

                if (contador % 6 == 0)
                {
                    <div class="row"></div>
                }
            }
        </div>
    </div>
</div>